<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipo</title>
</head>

<body>
    <h2>Eslogan de mi equipo</h2>
    {% if numero == 1 %}
    <h2>Arriba Peru!</h2>
    {% elif numero == 2 %}
    <h2>Arriba Alianza!</h2>
    {% elif numero == 3 %}
    <h2>Dale U!</h2>
    {% elif numero == 4 %}
    <h2>Echa Muni!</h2>
    {% else %}
    <h2>No tiene!</h2>
    {% endif %}
</body>

</html>